* {
  margin: 0;
  padding: 0;
}

/* header*/
.main-header {
  color: coral;
  font-size: 35px;
  background-color: black;
  text-align: center;
  font-family: "Goldman", cursive;
  float: center;
  width: 100%;
}
h1 {
  color: #c24248;
  padding: 20px;
  padding-bottom: 0%;
  background-color: rgb(0, 0, 0);
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  border: 0px;
  font-family: "Goldman", cursive;
  font-size: 100px;
}
/* fin header*/

/*menu*/
.main-menu {
  background-color: rgb(0, 0, 0);
}
.menu {
  color: rgb(255, 255, 255);
  margin-top: 0%;
  text-decoration: none;
  font-family: "Goldman", cursive;
  font-size: 33px;
  margin-bottom: 0%;
  padding-left: 0Px;
  padding-right: 0px;
  margin-left: 3%;
}
.main-menu .enlaces {
  text-align: right;
  border: rgb(0, 0, 0);
  padding-top: 5px;
  margin-top: 0%;
  word-spacing: 110px;
  padding-right: 5%;
  padding-left: 3%;
}
/*fin menu*/

/*video principal*/
.main-video {
  width: 1280px;
  height: auto;
  background-color: rgb(0, 0, 0);
  margin-left: 3%;
  padding-right: 2%;
  max-width: 100%;
}
.video-container {
  background-color: rgb(0, 0, 0);
  margin-right: 0%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
/*fin video principal*/

/*opciones de la barra de menú*/
nav {
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 30px;
  margin-top: 0%;
  display: flex;
  justify-content: center;
}


/*fin de pociones de la barra de menú*/

/*Foto banda*/
.foto-banda {
  display: flex;
  margin: auto;
  width: 1325px;
  height: 980px;
  max-width: 100%;

  background-color: rgb(0, 0, 0);
}
/*fin foto banda*/

/*sección nosotros*/
h3 {
  
  font-size: 44px;
  font-family: serif;
  background-color: rgb(0, 0, 0);
  color: coral;
  padding: 20px;
  text-align: center;

  font-family: "Goldman", cursive;
}
.parrafo-nosotros p {
  font-family: "Goldman", cursive;

  color: blanchedalmond;
  padding: 12px;
  border: 0%;
  margin-left: 2%;
  margin-right: 2%;
  word-spacing: 10px;
  line-height: 30px;
  font-size: x-large;
  text-justify: inter-word;
  text-align: justify;
}
/* fin sección nosotros*/

/*sección de música*/

.photo-grid-container {
  max-width: 1200px;
  padding-left: 10%;
  margin-left: 0%;
}

iframe {
  width: 100%;
  height: 250px ;
  padding-left: 5px;
  padding-right: 0px;
  margin: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  justify-items: center;
  margin-left: 0%;
  min-width: 350px;
}

/*sección de merch y proximamente*/
h4 {
  color: coral;
  background-color: rgb(0, 0, 0);
  font-family: "Goldman", cursive;
  margin-left: 0px;
  padding-bottom: 3%;
  padding-left: 20px;
  text-align: center;
}

.img-responsive {
  width: 300px;
  height: 300px;
  margin-left: 15%;
}
/*fin sección de merch y proximamente*/

/*sección de fechas*/
.accordion-button {
  color: white;
  font-size: 27px;
}
.accordion-item {
  color: white;
  padding-left: 20%;
  padding-right: 20%;
}

.card-body {
  color:coral;
}
.seccion-fechas {
  text-align: center;
}
/*fin sección de fechas*/

/*sección de contacto*/
.main-contacto h3 a {
  background-color: black;
  color: rgb(255, 255, 255);
  margin: 0%;
  transform: scale(2);
}
.main-contacto p {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 470px;
  text-align: center;
  font-size: 150%;
  font-family: "Goldman", cursive;
  padding-left: 0%;
  margin-left: 30%;
  border-radius: 30px;
}
.wrap:hover p {
  transform: scale(2);
  background-color: #c24248;
  color: cornsilk;
  transition: all 1s;
}
/*fin de sección contacto*/
/*footer*/
footer {
  border: 5px solid black;
  margin-top: 0%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: right;
}
/*fin footer*/

@media only screen and (max-width: 400px) {
  body {
    background-color: black;
  }
  footer {
  border: 5px solid black;
  margin-top: 0%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: left;
}
nav {
  flex-wrap: wrap;
}
h1 {
  color: #c24248;
  padding: 20px;
  padding-bottom: 0%;
  background-color: rgb(0, 0, 0);
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  border: 0px;
  font-family: "Goldman", cursive;
  font-size: 30px;
}
.parrafo-nosotros p {
  font-family: "Goldman", cursive;

  color: blanchedalmond;
  padding: 12px;
  border: 0%;
  margin-left: 3%;
  margin-right: 5%;
  word-spacing: 5px;
  line-height: 30px;
  font-size: x-large;
  text-justify:auto;
  text-align: justify;
}
.main-contacto p {
  font-size: 20px;
  background-color: #c24248;
  color: cornsilk;
  transform: none !important;
  width: 100%;
  background-position: center !important;
  margin-left: 2% !important;
}
.wrap p {
  font-size: 20px;
  padding-left: 3px;
  margin-left: 3%;
  color: cornsilk;
  display: flex;
  height: 40%;
  width: 118%;
  
}
.img-responsive {
  width: 150px;
  height: 150px;
  margin-left: 30%;
  padding-left: 10;
}
.foto-banda {
  display: flex;
  height:40%;

}
iframe {
  width: 95%;
  height: 200px ;
  padding-left: 5px;
  padding-right: 50px;
  margin-left: 1%;
  margin-right: 2%;
  padding-top: 0%;
  padding-bottom: 0%;
  justify-items: center;
  margin-left: 0%;
  min-width: 350px;
}
}
@media only screen and (min-width: 401px) and (max-width: 720px) {
  
body {
  background-color: black;
  }
footer {
  border: 5px solid black;
  margin-top: 0%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: left;
}
nav {
  flex-wrap:wrap;
}
h1 {
  color: #c24248;
  padding: 20px;
  padding-bottom: 0%;
  background-color: rgb(0, 0, 0);
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  border: 0px;
  font-family: "Goldman", cursive;
  font-size: 50px;
}
.foto-banda {
  display: flex;
  height:60%;
  padding-left: 0px;

}
.main-contacto p {
  font-size: 14px;
  background-color: #c24248;
  color: cornsilk;
  display: flex;
  background-position: center !important;
  margin-left: 15% !important;

}
.wrap p {
  font-size: 14px;
  background-position: center !important;
  color: cornsilk;
  display: flex;
  height: 40%;
  width: 63%;
  transform: none !important;
}
iframe {
  width: 95%;
  height: 200px ;
  padding-left: 5px;
  padding-right: 50px;
  margin-left: 1%;
  margin-right: 2%;
  padding-top: 0%;
  padding-bottom: 0%;
  justify-items: center;
  margin-left: 0%;
  min-width: 350px;
}
.parrafo-nosotros p {
  font-family: "Goldman", cursive;

  color: blanchedalmond;
  padding: 12px;
  border: 0%;
  margin-left: 3%;
  margin-right: 5%;
  word-spacing: 5px;
  line-height: 30px;
  font-size: x-large;
  text-justify:auto;
  text-align: justify;
}
.img-responsive {
  width: 250px;
  height: 250px;
  margin-left: 15%;
  padding-left: 0px;
}
}
@media only screen and (min-width: 721px) and (max-width: 960px) {
  
body {
  background-color: black;
  }
.photo-grid-container {
  max-width: 1200px;
  padding-left: 0% !important;
  margin-left: 0%;
}
.parrafo-nosotros p {
  font-family: "Goldman", cursive;

  color: blanchedalmond;
  padding: 12px;
  border: 0%;
  margin-left: 2%;
  margin-right: 2%;
  word-spacing: 10px;
  line-height: 30px;
  font-size: x-large;
  text-justify: inter-word;
  text-align: justify;
}
.img-responsive {
  width: 250px;
  height: 250px;
  margin-left: 2%;
  padding-left: 0px;
}

  footer {
  border: 5px solid black;
  margin-top: 0%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-align: left;
}
nav {
  flex-wrap:wrap;
  padding-left: 10%;
}
h1 {
  color: #c24248;
  padding: 20px;
  padding-bottom: 0%;
  background-color: rgb(0, 0, 0);
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  border: 0px;
  font-family: "Goldman", cursive;
  font-size: 50px;
}
.foto-banda {
  display: flex;
  height:60%;
  padding-left: 0px;

}
iframe {
  width: 95%;
  height: 200px ;
  padding-left: 70px;
  padding-right: 0px;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 0%;
  padding-bottom: 0%;
  justify-items: center;
  margin-left: 0%;
  min-width: 350px;
}

.main-contacto p {
  font-size: 18px;
  background-color: #c24248;
  color: cornsilk;
  display: flex;
  background-position: center !important;
  text-align: center !important;

}
.wrap p {
  font-size: 18px;
  background-position: center !important;
  color: cornsilk;
  display: flex;
  height: 40%;
  width: 45%;
  text-align: center !important;
  transform: scale(1.7);
  padding-left: 1%;
}
}

@media only screen and (min-width: 961px) {
  body {
    background-color: black;
  }
}
